@model IEnumerable<P02_WebApr2023_Assg1_Team6.Models.Parcel>

@if (Model.ToList().Count > 0) {
<div class="table-responsive">
 <table id="viewStaff" class="table table-striped table-bordered">
 <thead class="table-dark">
 <tr>
					 <th>Parcel ID</th>
					<th>Description of item</th>
					 <th>Sender's Name</th>
					 <th>Sender's telephone no.</th>
					 <th>Receiver's telephone no.</th>
					 <th>Delivery Address</th>
					<th>Source city</th>
					<th>Source country</th>
					<th>Destination city</th>
					<th>Destination country</th>
					<th>Parcel weight(KG)</th>
					<th>Delivery charge($)</th>
					<th>Currency</th>
					<th>Target delivery date</th>
					<th>Delivery status</th>
					@*<th>Deliveryman ID</th>*@
 </tr>
 </thead>
 <tbody>

			@foreach (var item in Model)
				{
					<tr>
	
						<td>@item.ParcelId.ToString()</td>
				<td>@item.ItemDescription</td>
				<td>@item.SenderName</td>
				<td>@item.SenderTelNo</td>
				<td>@item.ReceiverName</td>
				<td>@item.ReceiverTelNo</td>
				<td>@item.DeliveryAddress</td>
				<td>@item.FromCity</td>
				<td>@item.FromCountry</td>
				<td>@item.ToCity</td>
				<td>@item.ToCountry</td>
				<td>@item.ParcelWeight</td>
				<td>@item.DeliveryCharge</td>
				<td>@item.Currency</td>
				<td>@item.TargetDeliveryDate</td>
				<td>@item.DeliveryStatus</td>

				<td>
				<a asp-action="Edit" asp-controller="Parcel"
					   asp-route-id="@item.ParcelId">Edit</a>  |
				<a asp-action="Details" asp-controller="Parcel"
					   asp-route-id="@item.ParcelId">Details</a>  |
				<a asp-action="Delete" asp-controller="Parcel"
					   asp-route-id="@item.ParcelId">Delete</a>

						</td>
					</tr>
	   }
					
 </tbody>
 </table>
</div>
}
else
{
	<span style="color:red">No record found!</span>
}
