
@model P02_WebApr2023_Assg1_Team6.Models.Parcel

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Success</h4>


<h6 class="text-black"> Parcel added successfully! </h6>
@*<fieldset class="FormContent">

    <div class="row mb-3">
        <label asp-for="ToCity"
               class="col-sm-3 col-form-label pt-0"></label>
        <div class="col-sm-9">
            @Html.Display("ToCity")
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="ToCountry"
               class="col-sm-3 col-form-label pt-0"></label>
        <div class="col-sm-9">
            @Html.Display("ToCountry")
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="FromCity"
               class="col-sm-3 col-form-label pt-0"></label>
        <div class="col-sm-9">
            @Html.Display("FromCity")
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="FromCountry"
               class="col-sm-3 col-form-label pt-0"></label>
        <div class="col-sm-9">
            @Html.Display("FromCountry")
        </div>
    </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label pt-0">
                Target Delivery Date
            </label>
            <div class="col-sm-8">
                @Html.Raw(ViewData["TargetDeliveryDate"])
            </div>

    <div style="text-align:right;">
        <a asp-action="Create">Create another record</a>
    </div>


</fieldset>*@
