@model IEnumerable<P02_WebApr2023_Assg1_Team6.Models.Parcel>

@if (Model.ToList().Count > 0)
{
	<div class="table-responsive">
		<table id="updateParcel" class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Parcel ID</th>
					<th>Item Description</th>
					<th>Delivery Address</th>
					<th>Destination Country</th>
					<th>TargetDeliveryDate</th>
					<th>Delivery status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.ParcelId.ToString()</td>
						<td>@item.ItemDescription</td>
						<td>@item.DeliveryAddress</td>
						<td>@item.ToCountry</td>
						<td>@item.TargetDeliveryDate</td>
						<td>@item.DeliveryStatus</td>
						<td>
							<a asp-action="UpdateLocalStatus" asp-controller="ViewDelivery"
					   asp-route-id="@item.ParcelId">Update</a>
						</td>
					</tr>


				}
			</tbody>
		</table>
	</div>
}
else
{
	<span style="color:red">No parcel assign for you!</span>
}
 